---
layout: index
title: Max Base
---

<link rel="alternate" hreflang="en" href="{{ site.url }}/en" />
<link rel="alternate" hreflang="fa" href="{{ site.url }}/fa" />

<h1>Max Base</h1>

My nickname is Max Base, Programming language developer, Full-stack programmer. You can call me Max.

I love computer scientists, researchers. (BaseMax, Base Max) 

<br><br>

<h2>Posts</h2>
<ul class="posts posts-main">
		{% for post in site.posts %}
		{% if post.private %}
		{% else %}
		{% include post-item-short.html %}
		{% endif %}
		{% endfor %}
		</ul>
		<br><br>
