* {
	padding: 0px;
	margin: 0px;
}
.sidebar {
	float: left;
	width: 28%;
	margin-top: 25px;
}
content {
	float: right;
	margin-top: 35px;
	border-left: 1px solid #e1e1e1;
	padding-left: 3%;
	width: 63%;
	margin-right: 5%;
	min-height: 450px;
}
main {
	width: 60%;
	margin: auto;
}
.sidebar-padding {
	margin: 20px;
}
.sidebar-author {
	display: flex;
	align-items: center;
}
.sidebar-author img {
	display: inline-block;
	margin-bottom: 0;
	border-radius: 50%;
	background-clip: padding-box;
}
.sidebar-author-content {
	flex: 1 1;
	margin-left: 1.25rem;
}
.sidebar-author-title {
	font-size: 1.125rem;
	line-height: 1.82813rem;
	margin: .8125rem 0;
	font-weight: 500;
}
.sidebar-author-subtitle {
	line-height: 1.625rem;
	margin-bottom: 1.625rem;
	color: hsl(0, 0%, 53%);
}
a {
	color: hsl(0, 0%, 13%);
	text-decoration: none;
	text-underline-position: unset;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: hsl(210, 100%, 57%);
}
img {
	max-width: 100%;
	margin: auto;
}
body {
	border-top: 5px solid hsl(330, 100%, 70%);
	line-height: 1.625;
	font-size: 1rem;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
ul.posts li h2.post-title-short {
	font-size: 1rem;
	font-weight: normal;
	display: inline-block;
}
ul.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.menu li {
	display: inline;
	padding: 0;
	margin-right: 14px;
}
a.link-normal {
	color: hsl(330, 100%, 70%);	
}
a.link-normal:hover {
	color: hsl(210, 100%, 57%);
}
.link-underlined, .content a[href^=http] {
	color: hsl(0, 0%, 13%);
	font-weight: bold;
	text-decoration: none;
	background: linear-gradient(180deg,transparent .9em,hsl(330, 100%, 70%) 0,hsl(330, 100%, 70%));
}
.link-underlined:hover, .content a[href^=http]:hover {
	color: hsl(330, 100%, 70%);
	background: transparent;
	text-decoration: none;
}
.hidden, .hidden * {
	display: none;
	visibility: hidden;
	opacity: 0;
}
ul.links {
	margin-top: 10px;
}
ul.links li a:hover {
	text-decoration: none;
}
ul.links li {
	display: inline-block;
	padding: 0;
	margin: 0 .1875rem;
	height: 20px;
	width: 22px;
	font-size: 14px;
	line-height: 1.5rem;
	border-radius: .1875rem;
	text-align: center;
	background: hsl(0, 0%, 92%);
}
ul.list {
	margin-top: 10px;
}
ul.list li {
	list-style: none;
	line-height: 35px;
}
ul.posts {

}
ul.posts-tag li {
	list-style: none;
}
.posts-main {
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
}
ul.posts li.post-item {
	margin-bottom: 35px;
	list-style: none;
}
ul.posts li.post-item .post-title {
	font-size: 1.6875rem;
	letter-spacing: -0.05em;
	line-height: 1.95rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul.posts li.post-item .post-title a:hover {
	color: inherit;
}
ul.posts li.post-item .post-meta {
	margin-top: 5px;
}
ul.posts li.post-item .post-meta-category {
	margin-bottom: 10px;
	float: left;
}
.clear {
	clear: both;
}
a.post-read {
	margin-top: 40px;
}
.post-single-title {
	margin-top: 25px;
	clear: both;
	text-align: center;
	margin-bottom: 10px;
}
.post-single-subtitle {
	width: 270px;
	height: 10px;
	margin: auto;
	font-size: 1rem;
}
.post-single-line-through {
	width: 50px;
	height: 3px;
	margin-top: 13px;
	margin-left: 5px;
	margin-right: 5px;
	background: hsl(330, 100%, 70%);
	float: left;
}
.post-single-line-timeread {
	width: 150px;
	float: left;
	text-align: center;
}
ul.tags {
	margin-top: 15px;
	margin-bottom: 35px;
}
ul.tags li {
	display: inline-block;
	margin: .625rem .3125rem;
}
ul.tags li a {
	background: hsl(0, 0%, 92%);
	text-decoration: none;
	border: 0;
	border-radius: .1875rem;
	color: hsl(0, 0%, 33%);
	line-height: 1.625;
	padding: .5rem 1rem;
}
.post-single-date-author {
	flex-grow: 1;
	font-style: italic;
}
.float-rtl .post-single-date-author {
	float: left;
}
.float-ltr .post-single-date-author {
	float: right;
	margin-left: 10px;
}
.post-single-comments {
	flex-grow: 1;
	text-align: right;
}
.float-rtl .post-single-comments {
	float: right;
}
.float-ltr .post-single-comments {
	float: left;
}
.post-single-body ul, .post-single-body ol {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 18px;
	margin-bottom: 18px;
}
.post-single-body p {
	font-size: 1.125rem;
	line-height: 1.82813rem;
	margin-bottom: 1.82813rem;
}
:not(pre)>code[class*=language-], pre[class*=language-] {
	background: #f5f2f0;
	border-radius: 4px;
}
:not(pre)>code[class*=language-] {
	padding: 5px;
	border-radius: .3em;
	white-space: normal;
}
.fix-top-left {
	top: 15px;
	left: 15px;
	position: fixed;
}
.text-rtl {
	direction: rtl;
	text-align: right;
	display: inline-block;
}
.text-ltr {
	direction: ltr;
	text-align: left;
	display: inline-block;
}
.float-rtl {
	direction: rtl;
	text-align: right;
	float: right;
}
.float-ltr {
	direction: ltr;
	text-align: left;
	float: left;
}
.post-text ul {
	padding-left: 40px;
	padding-right: 40px;
}
@media screen and (max-width: 980px) {
	.sidebar {
		width: 100%;
	}
	content, main {
		padding-left: 5%;
		width: 90%;
		margin-right: 5%;
	}
	.fix-top-left {
		bottom: 15px;
		left: 15px;
		top: auto;
		margin-bottom: 0px;
	}
}
