---
layout: compress
---
<!DOCTYPE html>
<html>
	<head>
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
		<link rel="stylesheet" href="{{ site.url }}/assets/css/icon.css">
		<!--[if lt IE 8]><!-->
		<link rel="stylesheet" href="{{ site.url }}/assets/ie7/ie7.css">
		<!--<![endif]-->
	</head>
	<body>
		{{ content }}
	</body>
</html>
