---
layout: compress
---
<!DOCTYPE html>
<html>
	<head>
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>{{ page.title }}</title>
		<!-- {{ site.baseurl }} -->
		<!-- {{ site.url }} -->
		<!-- {{ page.url }} -->
		<link rel="canonical" href="{{ site.url }}{{ page.url }}">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css">
		<link rel="stylesheet" href="{{ site.url }}/assets/css/icon.css">
		<!--[if lt IE 8]><!-->
		<link rel="stylesheet" href="{{ site.url }}/assets/ie7/ie7.css">
		<!--<![endif]-->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134042147-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-134042147-1');
		</script>
	</head>
	<body>
		{{ content }}

		<br><br>
		<hr>
		<br>
		<center>
			Powered by <b>Max Base</b>
		</center>
	</body>
</html>
