---
layout: default
permalink: /:categories/:year/:month/:day/:title:output_ext
lang: en
---
<main>
		{% if page.lang == "fa" %}
		<div class="float-rtl">
		{% else %}
		<div class="float-ltr">
		{% endif %}
				<h1 class="post-single-title">{{ page.title }}</h1>

				<div class="post-single-subtitle">
					<span class="post-single-line-through"></span>
					<span class="post-single-line-timeread">
					☕
					{% assign words = page.content | number_of_words %}
					{% if words < 360 %}1{% else %}{{ words | divided_by:180 }}{% endif %}
					{% if page.lang == "fa" %}
					دقیقه مطالعه
					{% else %}
					min read
					{% endif %}
					</span>
					<span class="post-single-line-through"></span>
				</div>

				<div class="clear"></div>

				<center>
					<span class="post-meta-category">
						{% assign sortedCategories = page.categories | sort %}
						{% for category in sortedCategories %}
						<a class="link-normal" href="{{ site.url }}/{{ category }}/">#{{ category }}</a> 
						{% unless forloop.last %}, {% endunless %}
						{% endfor %}
					</span>
					<br>
				</center>


				<div class="post-single-body">
					{{ content }}
					<br><br>
				</div>

				<div class="post-single-meta">
					<div class="post-single-date-author">
						{% if page.lang == "fa" %}
						منتشر شده در
						{% else %}
						Published
						{% endif %}
						<label>{{ page.date | date_to_string }}</label>
						&nbsp;
						-
						&nbsp;
						{% if page.lang == "fa" %}
						نویسنده: <label><a href="https://maxbase.org/">مکس بیس</label>
						{% else %}
						Written by: <label><a href="https://maxbase.org/">Max Base</label>
						{% endif %}
					</div>
					<div class="post-single-comments">
						<span class="ti-twitter-alt"></span>
						<a class="link-underlined" href="https://mobile.twitter.com/search?q={{ site.url }}{{ post.url }}" target="_blank" rel="noopener noreferrer">
							{% if page.lang == "fa" %}
							گفتگو در مورد این مقاله در تویتر
							{% else %}
							Discuss this article on Twitter
							{% endif %}
						</a>
					</div>
				</div>

				<div class="clear"></div>

				{% for post in site.posts reversed %}
					{% if post.lang == page.lang %}
						{% if next %}
							<br>
							{% if page.lang == "fa" %}
							<a href="{{ post.url }}">مشاهده مطلب بعدی</a>
							{% else %}
							<a href="{{ post.url }}">Read Next post</a>
							{% endif %}
							{% break %}
						{% endif %}
						{% assign next = false %}
						{% if post.id == page.id %}
							{% assign next = true %}
						{% endif %}
					{% endif %}
				{% endfor %}

				<div class="clear"></div>

				<ul class="tags">
					{% for tag in page.tags %}
						<li>
							<!-- <a href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a> -->
							<a>#{{ tag }}</a>
						</li>
					{% endfor %}
				</ul>

				<ul class="subtitles">
					{% for subtitle in page.subtitles %}
						<li>
							<a href="{{ site.url }}/tag/{{ subtitle.slug }}-{{ page.lang }}/">
								<h2>{{ subtitle.name }}</h2>
							</a>
						</li>
					{% endfor %}
				</ul>

			</div>

			<div class="clear"></div>
			<br>

			<div id="related">
				{% if page.lang == "fa" %}
				<h5 class="float-rtl">مطالب مرتبط</h5>
				{% else %}
				<h5>Related Posts</h5>
				{% endif %}
				<ul class="posts posts-main">
					{% for post in site.related_posts limit:15 %}
					{% if post.private %}
					{% else %}
					{% include post-item-short.html %}
					{% endif %}
					{% endfor %}
				</ul>
			</div>

			<br><br>

		</main>
		<ul class="tags fix-top-left">
			<li>
				<a href="{{ site.url }}/">Go back</a>
			</li>
		</ul>
